body,
*,
html {
  margin: 0;
  box-sizing: border-box;
  background-color: aliceblue;
}

.container {
  padding-bottom: 20px;
  min-height: 100vh;
}

.headName {
  color: rgb(34, 34, 97);
  text-align: center;
  padding-top: 20px;
}

#msg {
  text-align: center;
  color: red;
  display: none;
  margin-bottom: 20px;
}
#items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.singleItem {
  cursor: pointer;
}
#details {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
/*====================== table section =================== */
.controller-btn{
    display: flex;
    justify-content: end;
}
.controller-btn >button{
  background: rgb(255, 251, 0);
  color: gray;
  margin-bottom: 10px;
  cursor: pointer;
}
.table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.header,
.cell {
  padding: 10px;
  border: 1px solid #0bf35c;
  text-align: center;

}
.header {
  font-weight: bold;
  background-color: #e27d11;
  color: rgb(0, 56, 0);
}
.week-name {
    font-weight: bold;
    background-color: hsl(186, 87%, 50%);
    color: rgb(88, 19, 215);
}
.row {
  display: contents;

}
.item {
    cursor: pointer;
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #000;
    display: inline-block;
    margin: 5px;
}
.item:hover {
    background-color: #ddd;
}
