body,
*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.headName {
  color: rgb(34, 34, 97);
  text-align: center;
  padding-top: 20px;
}

#msg {
  text-align: center;
  color: red;
  display: none;
  margin-bottom: 20px;
}
#items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.singleItem {
  cursor: pointer;
}
#details {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.action-container {
  display: flex;
  justify-content: space-between;
}
/*====================== table section =================== */
.border {
  border-bottom: 1px solid #555c6c;
  /* margin: 15px ; */
}
.weekly-planner {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(244 246 247);
  padding: 15px 0;

  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100%;
}
.table-area {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.weekly-planner-title {
  padding-left: 55px;
}
.controller-btn {
  display: flex;
  justify-content: end;
}
.controller-btn > button {
  background: rgb(255, 251, 0);
  color: gray;
  margin-top: 15px;
  margin-bottom: 1px;
  cursor: pointer;
}
.table {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 20px 15px;
}
.header,
.cell {
  padding: 10px;
  border: 1px solid;
  text-align: center;
}
.header {
  font-weight: bold;
  background-color: rgb(225, 233, 237);
  color: rgb(0, 2, 0);
}
.week-name {
  border-color: #555c6c;
  font-weight: bold;
  background-color: rgb(225, 233, 237);
  color: rgb(0, 2, 0);
}
.row {
  color: rgb(0, 2, 0);
  display: contents;
}
.item {
  cursor: pointer;
  padding: 5px;
  background-color: #f0f0f0;
  border: 1px solid #000;
  display: inline-block;
  margin: 5px;
}
.item:hover {
  background-color: #044b5c;
}

#logo {
  display: flex;
  justify-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: auto;
  width: 80px;
  height: auto;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  margin: 0;
  padding: 40px;
}

h3 {
  font-weight: 600;
  font-size: 16px;
  color: #044b5c;
}
p {
  font-weight: 400;
  font-size: 14px;
  color: #191b20;
}
ul.list {
  background-color: rgb(244 246 247);
  list-style-type: none;
  padding: 10px;
  display: flex;
  align-items: justify;
  overflow: auto;
  margin: 0 auto;
}

ul.list li {
  float: none;
  width: 200px;
  margin: 0 10px 10px 0;
  text-align: center;
  background-color: white;
  list-style-type: none;
  border: 1px #555c6c solid;
  border-radius: 16px;
  padding: 1px 1px 8px 1px;
  margin-bottom: 16px;
  display: inline-block;
}

ul.list li h3 {
  font-weight: 600;
  font-size: 16px;
  color: #044b5c;
  padding-top: 20px;
}

ul.list li img {
  height: auto;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.header-container {
  background-image: url('https://images.unsplash.com/photo-1455619452474-d2be8b1e70cd?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  padding: 0;
  padding-bottom: 40px;
  margin: 0;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  justify-content: center;
}

#inputSearch {
  border-radius: 30px 0 0 30px;
  padding: 4px 10px;
  min-width: 50px;
  max-width: 100%;
  border-color: #555c6c;
  border-style: solid;
  border-width: 2px;
  margin-left: 20px;
  margin-left: 20px;
  color: #555c6c;
  margin-left: 20px;
  max-width: 200px;
}

::placeholder {
  color: #8f96a0;
  font-style: italic;
}

#inputSearch:active {
  border-color: #044b5c;
}

#searchByTitleButton {
  padding: 4px 10px;
  background-color: #e6edef;
  border-color: #555c6c;
  border-style: solid;
  border-width: 2px 1px 2px 1px;
  color: #555c6c;
  transition-duration: 0.4s;
}
#searchByTitleButton:hover {
  background-color: #044b5c;
  border-color: #044b5c;
  color: white;
}
#searchByIngredientButton {
  border-radius: 0px 30px 30px 0;
  padding: 4px 10px;
  background-color: #b2c4ca;
  border-color: #555c6c;
  border-style: solid;
  border-width: 2px;
  color: #555c6c;
  transition-duration: 0.4s;
  margin-right: 20px;
}
#searchByIngredientButton:hover {
  background-color: #044b5c;
  border-color: #044b5c;
  color: white;
}

button {
  border-radius: 30px;
  padding: 4px 10px;
  background-color: #e6edef;
  border-color: #555c6c;
  border-style: solid;
  color: #555c6c;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #044b5c;
  border-color: #044b5c;
  color: white;
}
/* =================ruba=========== */
#meal-card {
  position: relative;

  height: 100%;
  margin: 0 5%;
  display: flex;
  justify-content: flex-start;
  border-radius: 10px;
}

#addToTableButton {
  margin: 0 8%;
}

#meal-image {
  height: 50%;
  object-fit: cover;
}

#meal-image img {
  width: 100%;
  height: 30%;
  object-fit: cover;
  border-radius: 20px;
}

#meal-info {
  height: 50%;
  flex-basis: 100%;
  padding-right: 20px;
}

#meal-info h3 {
  margin-top: 0;
}

#meal-info ul {
  list-style: none;
  margin: 0;
  float: none;
  text-align: left;

  border-radius: 16px;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  color: #191b20;
  padding: 4px;
}

#meal-info ul li {
  display: inline-block;
  margin-right: 0px;
}

#meal-info ul li:nth-child(1) {
  /* font-weight: bold; */
}

#meal-info ul li:nth-child(2) ~ li {
  margin-top: 10px;
}

#meal-info ul:first-child {
  margin-bottom: 20px;
}

#meal-info ul:first-child li {
  display: inline-block;
  margin-right: 10px;
}

#meal-info ul:first-child li:nth-child(-n + 10) {
  display: inline-block;
  margin-right: 10px;
}

#meal-info ul:first-child li:nth-child(-n + 10):nth-child(odd) {
  background-color: #f0f0f0;
}

.description {
  width: auto;
  font-weight: 400;
  font-size: 14px;
  color: #191b20;
  margin-bottom: 16px;
}
.selected {
  background-color: #77daf3; /* Highlight color */
}

a {
  border-radius: 30px;
  border-color: #555c6c;
  padding: 10px;
  background-color: #e6edef;
  color: #044b5c;
  text-decoration: none;
}
a:hover {
  background-color: #044b5c;
  color: #e6edef;
}

/* ==================prince==================== */
.container {
  padding-bottom: 0;
  /* min-height: 100vh; */
}

.headName {
  color: rgb(34, 34, 97);
  text-align: center;
  padding-top: 20px;
}

#msg {
  text-align: center;
  color: red;
  display: none;
  margin-bottom: 20px;
}
#items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.singleItem {
  cursor: pointer;
}
#details {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.shoplist-area {
  display: flex;
  flex-direction: column;
  padding-left: 55px;
}
#shopping-list {
  margin-top: 20px;
}
.your-result {
  background-color: rgb(244 246 247);
  padding: 15px 0;
  /* background-image:url("./logo/bg.jpg"); */
}
.background {
  opacity: 0.13;

  position: absolute;
  left: 0;
  top: 21%;
  width: 100%;
  height: 102vh;
}
.weekly-planner::after {
  top: 128%;
  content: '';
  background: url('./logo/bg1.jpg') no-repeat center center;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -100;
  -webkit-filter: grayscale(1); /* Old WebKit */
  filter: grayscale(1);
}
/* On screens that are 700px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
 #meal-card{
  display: flex;
  flex-direction: column;
 }
 #meal-info{
  order:2;
  width:100%;
 }
 #meal-image{
  order:1;
  width: 60%;
  margin-bottom: 20px;
 }
 .action-container{
  flex-direction: column;
 }
 .action-container > a{
  order:2;
  width:60%;
  margin-top: 8px;

 }
 .action-container> button{
  width: 30%;
  margin: 0 !important;
  
 }
 .your-result{
  padding: 10px;
  
 }
 .background {
  
  top: 25%;}
  .weekly-planner{
    flex-direction: column;
  }
  .table-area{width: 90%;}
}